<% provide(:title, "Cotiza | ") %>

<div class="row">
  <div class="col-md-4 col-md-push-3">
  <h3>Solicita una cotización</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, label: 'Tu nombre es:' %>
    <%= f.input :email, label: 'Tu email porfa', :required => true %>
    <%= f.input :pickup, placeholder: 'Calle, número y colonia.', label: '¿A dónde pasamos por tu paquete?', :as => :text, :required => true %>
    <%= f.input :dropoff, placeholder: 'Calle, número y colonia.', label: '¿A dónde lo llevamos?', :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Solicitar cotización', :class=> "btn btn-primary" %>
    </div>
  <% end %>

  </div>

</div>