<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "bicimensajero", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to "Crea una cuenta", nuevacuenta_path, id: "login" %></li>
        <li><%= link_to "Ingresa a tu cuenta", '#', id: "login" %></li>
      </ul>
    </nav>
  </div>
</header>